@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Só mais um pagina idiota!!</h1>
    <img src="https://cdn.worldvectorlogo.com/logos/rancher.svg" width='360' height='200'  />
    <p>Learn about <a href="">Aprendendo a fazer deploy no Rancher</a>.</p>
</div>
